@import "/src/styles/mixins";
@import "/src/styles/variables";


.errorPageSection {
    height: calc(100vh - 269px);
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (max-width: 767.98px) {
        padding: 56px 67px 0 67px;
    }
}

.errorPageItem{
    max-width: 412px;    

    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 32px;
    }
    p{
        text-align: center;
        margin-top: 16px;
    }
}
.buttonWrapper{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorPagesItem{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    h1{
        margin-bottom: 5px
    }
}

 .errorPageButn {
    @include flex-center-vert;
    @include buttonNulled;
    padding: 16px;
    background: $gradient;
    box-shadow: 0px 16px 24px rgba(44, 159, 145, 0.3);
    border-radius: 12px 12px 0px 12px;
    color: $white;
    transition: 0.3s;
    
    min-width: 217px;
    margin-top: 8px;
    text-align: center;
    justify-content: center;
    &:hover {
        background: $gradientReverse;
    }
    @media all and (max-width: 767.98px) {
        margin-left: 0;
        min-width: 188px;
    }
}
