@import "/src/styles/mixins";
@import "/src/styles/variables";

.bonsuSection {
    margin-top: 110px;
    .bonusTitle {
        @include fontRem(24, 700, 33);
        margin-bottom: 18px;
    }
    .bonusRow {
        @include flexRow(24, 2);
        .bonusInnerLeft {
            max-width: 515px;
            p {
                @include fontRem(16, 400, 24);
            }
        }
        .bonusRight {
            padding: 24px;
            background-color: $white;
            box-shadow: 0px 14px 36px -2px rgba(14, 114, 102, 0.1);
            border-radius: 12px;
            p {
                @include fontRem(16, 400, 22);
                span {
                    color: $orange;
                }
            }
        }
    }
}
