@import "/src/styles/mixins";
@import "/src/styles/variables";

.header {
    padding: 17px 0;
    .nav {
        @include flex-center-vert;
        .menu {
            margin-left: auto;
            @include flex-center-vert;
            &Item {
                @include flex-center-vert;
                text-decoration: none;
                color: $dark;
                &:not(:last-child) {
                    margin-right: 36px;
                }
                &:last-child {
                    margin-left: 4px;
                    color: $green;
                    border-radius: 12px 12px 0px 12px;
                    border: 1px solid $green;
                    svg {
                        margin-right: 12px;
                    }
                }
            }
            .headerDropDown {
                list-style-type: none;
                > li {
                    position: relative;
                    .dropdownControl {
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        transition: 0.3s;
                        svg {
                            transition: 0.3s;
                        }
                    }
                }
                .dropList {
                    position: absolute;
                    top: calc(100% + 25px);
                    left: 0;
                    width: 100%;
                    background-color: $white;
                    list-style-type: none;
                    box-shadow: 0px 17px 36px -12px rgba(14, 114, 102, 0.1);
                    border-radius: 12px;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.3s;
                    li {
                        .dropDownItems {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            margin-bottom: 16px;
                            padding-left: 16px;
                            padding-right: 16px;
                            @include fontRem(16, 500, 22);
                            text-decoration: none;
                            color: $darken;
                            svg {
                                min-width: 20px;
                                max-width: 20px;
                                margin-right: 8px;
                                rect {
                                    fill: transparent;
                                }
                            }
                        }
                        &:first-child {
                            margin-top: 16px;
                        }
                    }
                }
                &.opened {
                    .dropdownControl {
                        color: $green;
                        text-decoration: underline;
                        svg {
                            transform: rotate(180deg);
                            path {
                                stroke: $green;
                            }
                        }
                    }
                    .dropList {
                        visibility: visible;
                        opacity: 1;
                        top: calc(100% + 25px);
                    }
                }
            }
        }
        .settings {
            width: 28px;
            height: 28px;
            background-color: red;
            background: rgba(67, 173, 154, 0.12);
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 40px;
            svg {
                animation: 10s rotate360 infinite linear;
                cursor: pointer;
            }
        }
    }
}
@keyframes rotate360 {
    to {
        transform: rotate(360deg);
    }
}
