@import "/src/styles/mixins";
@import "/src/styles/variables";

.header {
    padding: 17px 0;
    .nav {
        @include flex-center-vert;
        .menu {
            margin-left: auto;
            @include flex-center-vert;
            &Item {
                @include flex-center-vert;
                text-decoration: none;
                color: $dark;
                &:not(:last-child) {
                    margin-right: 36px;
                }
                &:last-child {
                    margin-left: 4px;
                    color: $green;
                    border-radius: 12px 12px 0px 12px;
                    border: 1px solid $green;
                    svg {
                        margin-right: 12px;
                    }
                }
            }
        }
        .settings{
            width: 28px;
            height: 28px;
            background-color: red;
            background: rgba(67, 173, 154, 0.12);
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 40px;
            svg{
                animation: 10s rotate360 infinite linear;
                cursor: pointer;
            }
        }
    }
}
@keyframes rotate360 {
    to { transform: rotate(360deg); }
  }