@import "/src/styles/mixins";
@import "/src/styles/variables";

.connectWallerButton {
    @include flex-center-vert;
    @include buttonNulled;
    padding: 12px 16px;
    margin-left: 4px;
    color: $green;
    border-radius: 12px 12px 0px 12px;
    border: 1px solid $green;
    transition: 0.3s;
    @media all and (max-width: 767.98px) {
        padding: 8px 12px;
    }
    svg {
        margin-right: 12px;
        @media all and (max-width: 767.98px) {
            margin-right: 8px;
        }
    }
    &:hover {
        background-color: rgba(67, 173, 154, 0.16);
    }
}
.creds {
    width: 215px;
    height: 46px;
    border: 1px solid #43ad9a;
    border-radius: 12px 12px 0px 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    color: #43ad9a;
    @media all and (max-width: 767.98px) {
        width: fit-content;
        height: 40px;
        padding-left: 5px;
        font-size: 12px;
    }
    .address {
        display: flex;
        margin-left: 15px;
        height: 38px;
        width: 144px;
        background: rgba(67, 173, 154, 0.2);
        border-radius: 8px 8px 0px 8px;
        align-items: center;
        justify-content: space-around;
        color: #43ad9a;
        @media all and (max-width: 767.98px) {
            width: fit-content;
            padding: 0 5px;
            svg {
                padding-right: 5px;
                padding-left: 5px;
            }
        }
    }
}
.wrong{
    width: 157px;
    height: 46px;
    color: #CA1B1B;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #CA1B1B;
    border-radius: 12px 12px 0px 12px;
}