$white: #fff;
$black: #000;
$dark: #1f2902;
$green: #43ad9a;
$orage: #e46614;
$darken: #011c18;
$red: #e30029;
$gradient: linear-gradient(180deg, #82e2c0 0%, #2b9e90 100%);
$gradientReverse: linear-gradient(180deg, #2b9e90 0%, #82e2c0 100%);
$inputBg: rgba(67, 173, 154, 0.12);
