@import "/src/styles/mixins";
@import "/src/styles/variables";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  div {
    [class="iekbcc0 ju367v4i"] {
      display: none;
    }
    [class="iekbcc0 ju367v4w"] {
      display: none;
    }
  }
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-file-upload-button {
  appearance: button;
  -webkit-appearance: button;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 100%;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 0;
}

button,
input,
select,
label {
  font-family: inherit;
  outline: none;
}

label {
  display: block;
}

button {
  cursor: pointer;
}

[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  overflow: visible;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  white-space: normal;
}

#root {
  height: 100%;
  isolation: isolate;
  > div {
    height: inherit;
  }
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../assets/images/main-bg.png");
  background-color: #fbfbfb;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 1148px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  @media all and (max-width: 767.98px) {
    padding: 0 16px;
    max-width: 100%;
  }
}

.title_prefix {
  @include fontRem(16, 600, 19);
  color: $orange;
  margin-bottom: 4px;
  letter-spacing: 0.05em;
  @media all and (max-width: 767.98px) {
    @include fontRem(14, 600, 17);
    margin-bottom: 8px;
  }
}
.title_section {
  @include fontRem(32, 800, 44);
  color: $darken;
  @media all and (max-width: 1024px) {
    @include fontRem(26, 800, 32);
  }
  @media all and (max-width: 767.98px) {
    @include fontRem(20, 800, 27);
  }
}

.d_modal_primaryBtn {
  margin-top: 38px;
  @include flex-center-vert;
  @include buttonNulled;
  padding: 12px 16px;
  background: $gradient;
  box-shadow: 0px 16px 24px rgba(44, 159, 145, 0.3);
  border-radius: 12px 12px 0px 12px;
  color: $white;
  transition: 0.3s;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  svg {
    margin-right: 12px;
  }
  &:hover {
    background: $gradientReverse;
  }
}
.ReactModal__Content {
  border: 0 !important;
  box-shadow: 0px 17px 36px -12px rgba(14, 114, 102, 0.1) !important;
  border-radius: 12px !important;
  max-width: 552px !important;
  width: 100% !important;
  @media all and (max-width: 767.98px) {
    width: calc(100% - 32px) !important;
    padding: 0 !important;
  }
  .modalCloser {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    @media all and (max-width: 767.98px) {
      top: 9px;
      right: 9px;
    }
  }
}

.tooltipWrapper {
  position: relative;
  cursor: pointer;
  
  &:hover {
    > div {
      visibility: visible;
      opacity: 1;
    }
  }
}
@media all and (max-width: 1320px) {
  .tooltipWrapperUser {
    position: static;
  }
 }
#tooltip-1, #tooltip-2 {
  @media all and (max-width: 1320px) {
    left: 50% !important;
    transform: translateX(-50%);
    top: -78px !important;
  }
}