@import "/src/styles/mixins";
@import "/src/styles/variables";


.settingsPageSection {
    height: calc(100vh - 269px);
    display: flex;
    align-items: center;

    @media all and (max-width: 767.98px) {
      
    }
}

.settingsPageeSubTitle {
    margin-top: 35px;
}
.settingsPageeGrossLink{
    display: block;
    cursor: pointer;
    letter-spacing: 0.05em;
    color: $green;
}
.settingsPageeChangeAvatar{
    display: flex;
    gap: 6px;
}

.settingsUserWrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 15px;
    @media all and (max-width: 767.98px) {
        display: flex;
        flex-direction: column;
        align-items: baseline;

    }

}

.copyReferralCodecontainer {
    margin-left: 50px;
    justify-content: flex-start;
    @media all and (max-width: 767.98px) {
       margin-left: 0;

    }
}

.copyReferralCode {
    position: relative;
    width: 528px;
    max-height: 58px;
    border: 1px;
    border-radius: 50px;
    display: flex;
    background-color: white;
    margin-top: 12px;
    @media all and (max-width: 767.98px) {
           
        max-width: 360px;
    }

    button {
        border: none;
        outline: none;
        background-color: white;
        border-radius: 12px;
        padding: 16px;
    }

    input {
        border: none;
        outline: none;
        width: 526px;
        height: 58px;
        border-radius: 12px;
        padding: 18px;
        @media all and (max-width: 767.98px) {
           
            max-width: 360px;
        }
    }

}

label {
    display: block;
    cursor: pointer;
    margin-top: 166px;
    @include fontRem(16, 600, 19);
    letter-spacing: 0.05em;
    color: $green;
}

.buttonWrapper {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 32px;
    @media all and (max-width: 767.98px) {
        display: flex;
        flex-direction: column;
        align-items: baseline;

    }

    input{
        background: rgba(67, 173, 154, 0.12);
        border: 1px solid rgba(67, 173, 154, 0.32);
        border-radius: 12px;
        height: 46px;
        max-width: 360px;
        width: 100%;
        padding: 12px 14px;
        @include fontRem(16, 500, 14);
        outline: none;
        resize: none;
        &::placeholder {
            color: rgba(1, 28, 24, 0.4);
        }
        @media all and (max-width: 767.98px) {
            max-width: 100%;
        }
    }


    .settingsPageButn {
        @include flex-center-vert;
        @include buttonNulled;
        padding: 16px;
        background: $gradient;
        box-shadow: 0px 16px 24px rgba(44, 159, 145, 0.3);
        border-radius: 12px 12px 0px 12px;
        color: $white;
        transition: 0.3s;
        min-width: 146px;
        text-align: center;
        justify-content: center;

        &:hover {
            background: $gradientReverse;
        }

        @media all and (max-width: 767.98px) {
            margin-left: 0;
            min-width: 146px;
        }
    }
}