@import "/src/styles/mixins";
@import "/src/styles/variables";


.settingsPageSection {
    display: flex;
    align-items: center;
    height: 100vh;
    @media all and (max-width: 767.98px) {
        height: auto;
        padding: 0px 16px 0 16px;
        margin-top: 24px;
    }
}

 .settingsPageeSubTitle{
    margin-top: 10px;
    @media all and (max-width: 767.98px) {
        margin-top: 16px;
    }
 }
.settingsUserWrapper{
    display: flex;
    align-items: flex-end;
    margin-top: 24px;
    @media all and (max-width: 767.98px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
}
 .copyReferralCodecontainer{
    margin-left: 50px;
    justify-content: flex-start;
    max-width: 520px;
    width: 100%;
    @media all and (max-width: 767.98px) {
    max-width: 100%;

      margin-left: 0;
      width: 100%;
      margin-top: 32px;
    }
 }
 .codeBlock {
    display: flex;
    gap: 10px;
    background-color: $white;
    box-shadow: 2px 12px 32px -12px rgba(14, 114, 102, 0.06);
    border-radius: 12px;
    padding: 16px;
    align-items: center;
    p {
        @include textShorten(1);
        @include fontRem(16, 600, 22);

    }
    button {
        margin-left: auto;
        @include buttonNulled;
        svg {
            min-width: 18px;
            min-height: 18px;
        }
    }
    @media all and (max-width: 767.98px) {
        margin-left: 0;
        width: 100%;
        margin-top: 24px;
      }
}

.settingsPageeGrossLink{
    display: block;
    cursor: pointer;
    letter-spacing: 0.05em;
    color: $green;
}
.settingsPageeChangeAvatar{
    display: flex;
    gap: 6px;
}
.buttonWrapper{
    margin-top: 48px;
    display: flex; 
    align-items: center;
    
}

.waarningVerifyEmailcontainer{
    display: flex;
     gap: 12px;
   align-items: center;
    font-family: 'Manrope';
    font-style: normal;
    color: #CA1B1B;
    background:#CA1B1B29;
    border-radius: 12px;
    margin-top: 89px;
    height: 46px;
    max-width: 392px;
    width: 100%;
    padding: 12px 14px;
   
    &::placeholder {
        color: rgba(1, 28, 24, 0.4);
    }
    @media all and (max-width: 767.98px) {
        max-width: 100%;
        margin-top: 54px
    }
}
label {
    display: block;
    cursor: pointer;
    margin-top: 32px;
    @include fontRem(16, 600, 19);
    letter-spacing: 0.05em;
    color: $green;
}

.buttonWrapper {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 24px;
    @media all and (max-width: 767.98px) {
        display: flex;
        flex-direction: column;
        align-items: baseline;

    }

    input{
        background: rgba(67, 173, 154, 0.12);
        border: 1px solid rgba(67, 173, 154, 0.32);
        border-radius: 12px;
        height: 46px;
        max-width: 360px;
        width: 100%;
        padding: 12px 14px;
        @include fontRem(16, 500, 14);
        outline: none;
        resize: none;
        &::placeholder {
            color: rgba(1, 28, 24, 0.4);
        }
        @media all and (max-width: 767.98px) {
            max-width: 100%;
        }
    }


    .settingsPageButn {
        @include flex-center-vert;
        @include buttonNulled;
        padding: 16px;
        background: $gradient;
        box-shadow: 0px 16px 24px rgba(44, 159, 145, 0.3);
        border-radius: 12px 12px 0px 12px;
        color: $white;
        transition: 0.3s;
        min-width: 146px;
        text-align: center;
        justify-content: center;
        font-weight:600;

        &:hover {
            background: $gradientReverse;
        }
        &:disabled {
            background: #bdcec6;
            cursor: default;
            box-shadow: none;
            &:hover {
                background: #bdcec6;
            }
        }

        @media all and (max-width: 767.98px) {
            margin-left: 0;
            min-width: 146px;
        }
    }
}

.errorText{
    color: red;
}